{% extends 'base.html' %}

{% block content %}


	<br>

	<div class="container">

		<h1>Chicago <span class="badge badge-light">IL</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/820_the-irving-park-community-food-pantry_ayj.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi7.name }}</h5>
			    <p class="card-text">{{ chi7.address }}</p>
			    <p class="card-text">{{ chi7.city }} {{ chi7.state }} {{ chi7.zipcode }}</p>
			    <p class="card-text">{{ chi7.phone }}</p>
			    <p class="card-text">{{ chi7.details }}</p>
		    </div>
		    <br>
		    <a href="{{ chi7.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/892_lakeview-pantry-of-chicago-illinois_bjv.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi8.name }}</h5>
			    <p class="card-text">{{ chi8.address }}</p>
			    <p class="card-text">{{ chi8.city }} {{ chi8.state }} {{ chi8.zipcode }}</p>
			    <p class="card-text">{{ chi8.phone }}</p>
			    <p class="card-text">{{ chi8.details }}</p>
		    </div>
		    <br>
		    <a href="{{ chi8.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/1073_cornerstone-community-outreach-transitional-shelter-for-homeless-families_mpb.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi9.name }}</h5>
			    <p class="card-text">{{ chi9.address }} </p>
			    <p class="card-text">{{ chi9.city }} {{ chi9.state }} {{ chi9.zipcode }}</p>
			    <p class="card-text">{{ chi9.phone }}</p>
			    <p class="card-text">{{ chi9.details }}</p>
		    </div>
		    <br>
		    <a href="{{ chi9.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/1454_il-redeeming-grace-church-food-pantry_rfs.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi10.name }}</h5>
			    <p class="card-text">{{ chi10.address }}</p>
			    <p class="card-text">{{ chi10.city }} {{ chi10.state }} {{ chi10.zipcode }}</p>
			    <p class="card-text">{{ chi10.phone }}</p>
			    <p class="card-text">{{ chi10.details }}</p>
			</div>
			<br>
		    <a href="{{ chi10.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="{{ chi11.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi11.name }}</h5>
			    <p class="card-text">{{ chi11.address }}</p>
			    <p class="card-text">{{ chi11.city }} {{ chi11.state }} {{ chi11.zipcode }}</p>
			    <p class="card-text">{{ chi11.phone }}</p>
			    <p class="card-text"><small>{{ chi11.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi11.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="{{ chi19.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi19.name }}</h5>
			    <p class="card-text">{{ chi19.address }}</p>
			    <p class="card-text">{{ chi19.city }} {{ chi19.state }} {{ chi19.zipcode }}</p>
			    <p class="card-text">{{ chi19.phone }}</p>
			    <p class="card-text"><small>{{ chi19.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi19.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="{{ chi20.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi20.name }}</h5>
			    <p class="card-text">{{ chi20.address }}</p>
			    <p class="card-text">{{ chi20.city }} {{ chi20.state }} {{ chi20.zipcode }}</p>
			    <p class="card-text">{{ chi20.phone }}</p>
			    <p class="card-text"><small>{{ chi20.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi20.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="{{ chi21.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi21.name }}</h5>
			    <p class="card-text">{{ chi21.address }}</p>
			    <p class="card-text">{{ chi21.city }} {{ chi21.state }} {{ chi21.zipcode }}</p>
			    <p class="card-text">{{ chi21.phone }}</p>
			    <p class="card-text"><small>{{ chi21.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi21.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/33127_il_60626_howard-area-community-center_nly.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi22.name }}</h5>
			    <p class="card-text">{{ chi22.address }}</p>
			    <p class="card-text">{{ chi22.city }} {{ chi22.state }} {{ chi22.zipcode }}</p>
			    <p class="card-text">{{ chi22.phone }}</p>
			    <p class="card-text"><small>{{ chi22.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi22.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/33128_il_60626_chicago-food-pantry_rhx.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi23.name }}</h5>
			    <p class="card-text">{{ chi23.address }}</p>
			    <p class="card-text">{{ chi23.city }} {{ chi23.state }} {{ chi23.zipcode }}</p>
			    <p class="card-text">{{ chi23.phone }}</p>
			    <p class="card-text"><small>{{ chi23.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi23.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>



		<br><br>

		<a href="{% url 'chicago' %}"><button type="button" class="btn btn-secondary btn-block">Back to Top</button><br>
		<a href="{% url 'illinois' %}"><button type="button" class="btn btn-secondary btn-block">Back to IL</button><br>

		<a href="{% url 'home' %}"><button type="button" class="btn btn-secondary btn-lg btn-block"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd2%2FFood_Bank_icon.svg%2F2000px-Food_Bank_icon.svg.png&f=1&nofb=1" width="40" height="40"><span class="black"><small>Home</small></span></button></a>

	</div>

	
	<br><br>




{% endblock %}