{% extends 'base.html' %}

{% block content %}


	<br>

	<div class="container">

		<h1>Detroit <span class="badge badge-light">MI</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/398_oakland-county-food-bank-gleaners-community-foody-bank-of-southeastern-michigan_xdz.png" class="card-img-top" height="200"> <!-- Heroku had an issue with keeping pics in database the api code is set yet I still have to put the pics in manually or remake the api when I am done NOTE: This only applies to the api entries in which I made edits-->
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det1.name }}</h5>
			    <p class="card-text">{{ det1.address }}</p>
			    <p class="card-text">{{ det1.city }} {{ det1.state }} {{ det1.zipcode }}</p>
			    <p class="card-text">{{ det1.phone }}</p>
			    <p class="card-text">{{ det1.details }}</p>
		    </div>
		    <br>
		    <a href="{{ det1.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/33939_rmqqqbfjhd.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det2.name }}</h5>
			    <p class="card-text">{{ det2.address }}</p>
			    <p class="card-text">{{ det2.city }} {{ det2.state }} {{ det2.zipcode }}</p>
			    <p class="card-text">{{ det2.phone }}</p>
			    <p class="card-text">{{ det2.details }}</p>
		    </div>
		    <br>
		    <a href="{{ det2.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/3911_wits-walk-in-the-spirit--food-pantry_lwr.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det3.name }}</h5>
			    <p class="card-text">{{ det3.address }} </p>
			    <p class="card-text">{{ det3.city }} {{ det3.state }} {{ det3.zipcode }}</p>
			    <p class="card-text">{{ det3.phone }}</p>
			    <p class="card-text">{{ det3.details }}</p>
		    </div>
		    <br>
		    <a href="{{ det3.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/no_photo_5.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det4.name }}</h5>
			    <p class="card-text">{{ det4.address }}</p>
			    <p class="card-text">{{ det4.city }} {{ det4.state }} {{ det4.zipcode }}</p>
			    <p class="card-text">{{ det4.phone }}</p>
			    <p class="card-text">{{ det4.details }}</p>
			</div>
			<br>
		    <a href="{{ det4.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/3970_scott-memorial-um-church_zsk.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det5.name }}</h5>
			    <p class="card-text">{{ det5.address }}</p>
			    <p class="card-text">{{ det5.city }} {{ det5.state }} {{ det5.zipcode }}</p>
			    <p class="card-text">{{ det5.phone }}</p>
			    <p class="card-text"><small>{{ det5.details }}</small></p>
			</div>
			<br>
		    <a href="{{ det5.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://s3.amazonaws.com/cache.salvationarmy.org/5cf42a33-c7b3-4ccb-9d08-2767748aad39_323-WebsiteLogo-New.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det6.name }}</h5>
			    <p class="card-text">{{ det6.address }}</p>
			    <p class="card-text">{{ det6.city }} {{ det6.state }} {{ det6.zipcode }}</p>
			    <p class="card-text">{{ det6.phone }}</p>
			    <p class="card-text"><small>{{ det6.details }}</small></p>
			</div>
			<br>
		    <a href="{{ det6.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/3994_restoration-house-community-center_rus.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det7.name }}</h5>
			    <p class="card-text">{{ det7.address }}</p>
			    <p class="card-text">{{ det7.city }} {{ det7.state }} {{ det7.zipcode }}</p>
			    <p class="card-text">{{ det7.phone }}</p>
			    <p class="card-text"><small>{{ det7.details }}</small></p>
			</div>
			<br>
		    <a href="{{ det7.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/4003_perfecting-community-care-center_shi.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det8.name }}</h5>
			    <p class="card-text">{{ det8.address }}</p>
			    <p class="card-text">{{ det8.city }} {{ det8.state }} {{ det8.zipcode }}</p>
			    <p class="card-text">{{ det8.phone }}</p>
			    <p class="card-text"><small>{{ det8.details }}</small></p>
			</div>
			<br>
		    <a href="{{ det8.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/4041_my-fathers-business-outreach-ministries_ixy.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det9.name }}</h5>
			    <p class="card-text">{{ det9.address }}</p>
			    <p class="card-text">{{ det9.city }} {{ det9.state }} {{ det9.zipcode }}</p>
			    <p class="card-text">{{ det9.phone }}</p>
			    <p class="card-text"><small>{{ det9.details }}</small></p>
			</div>
			<br>
		    <a href="{{ det9.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/4055_linwood-church-of-christ_rqo.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ det10.name }}</h5>
			    <p class="card-text">{{ det10.address }}</p>
			    <p class="card-text">{{ det10.city }} {{ det10.state }} {{ det10.zipcode }}</p>
			    <p class="card-text">{{ det10.phone }}</p>
			    <p class="card-text"><small>{{ det10.details }}</small></p>
			</div>
			<br>
		    <a href="{{ det10.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>



		<br><br>

		<a href="{% url 'detroit' %}"><button type="button" class="btn btn-secondary btn-block">Back to Top</button><br>

		<a href="{% url 'mich' %}"><button type="button" class="btn btn-secondary btn-block">Back to MI</button><br>

		<a href="{% url 'home' %}"><button type="button" class="btn btn-secondary btn-lg btn-block"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd2%2FFood_Bank_icon.svg%2F2000px-Food_Bank_icon.svg.png&f=1&nofb=1" width="40" height="40"><span class="black"><small>Home</small></span></button></a>

	</div>

	
	<br><br>




{% endblock %}