{% extends 'base.html' %}

{% block content %}


	<br>

	<div class="container">

		<h1>Hampstead <span class="badge badge-light">NC</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/no_photo_4.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ hamp1.name }}</h5>
			    <p class="card-text">{{ hamp1.address }}</p>
			    <p class="card-text">{{ hamp1.city }} {{ hamp1.state }} {{ hamp1.zipcode }}</p>
			    <p class="card-text">{{ hamp1.phone }}</p>
			    <p class="card-text">{{ hamp1.details }}</p>
		    </div>
		    <br>
		    <a href="{{ hamp1.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/no_photo_9.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ hamp2.name }}</h5>
			    <p class="card-text">{{ hamp2.address }}</p>
			    <p class="card-text">{{ hamp2.city }} {{ hamp2.state }} {{ hamp2.zipcode }}</p>
			    <p class="card-text">{{ hamp2.phone }}</p>
			    <p class="card-text">{{ hamp2.details }}</p>
		    </div>
		    <br>
		    <a href="{{ hamp2.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/39136_nc_28443_share-the-table_tzw.fna&oh=53113e77e5f4cb01eb4d245302a925ef&oe=5E040C4D" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ hamp3.name }}</h5>
			    <p class="card-text">{{ hamp3.address }}</p>
			    <p class="card-text">{{ hamp3.city }} {{ hamp3.state }} {{ hamp3.zipcode }}</p>
			    <p class="card-text">{{ hamp3.phone }}</p>
			    <p class="card-text">{{ hamp3.details }}</p>
		    </div>
		    <br>
		    <a href="{{ hamp3.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	

		<br><br>

		<a href="{% url 'northcarolina' %}"><button type="button" class="btn btn-light">Back</button>

	</div>

	
	<br><br>




{% endblock %}