	{% extends 'base.html' %}

	{% block content %}


	<br>

	<div class="container">

		<h1>Livonia <span class="badge badge-light">MI</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="{{ liv.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ liv.name }}</h5>
			    <p class="card-text">{{ liv.address }}</p>
			    <p class="card-text">{{ liv.city }} {{ liv.state }} {{ liv.zipcode }}</p>
			    <p class="card-text">{{ liv.phone }}</p>
			    <p class="card-text">{{ liv.details }}</p>
		    </div>
		    <br>
		    <a href="{{ liv.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

		<a href="{% url 'mich' %}"><button type="button" class="btn btn-light">Back</button>

	</div>
	
	<br><br>

	{% endblock %}