{% extends 'base.html' %}

{% block content %}


	<br>


		<div class="container">

			<ul class="list-group">
			  <a class="list-group-item d-flex justify-content-between align-items-center">
			    Farmington
			    <span class="badge badge-success badge-pill">1</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center">
			    Farmington Hills
			    <span class="badge badge-success badge-pill">2</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center">
			    Livonia
			    <span class="badge badge-success badge-pill">1</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center">
			    Southfield
			    <span class="badge badge-success badge-pill">1</span>
			  </a>
			</ul>


		<br> 

	

{% endblock %}