{% extends 'base.html' %}

{% block content %}


	<style type="text/css">
		.black {
			color: black;
		}
	</style>


	<br>


		<div class="container">

			<ul class="list-group">
				<li class="list-group-item disabled" aria-disabled="true">Michigan</li>
				<a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'detroit' %}">
			    <span class="black">Detroit</span>
			    <span class="badge badge-success badge-pill">10</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'farm' %}">
			    <span class="black">Farmington</span>
			    <span class="badge badge-success badge-pill">1</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'farmhills' %}">
			    <span class="black">Farmington Hills</span>
			    <span class="badge badge-success badge-pill">2</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'livonia' %}">
			    <span class="black">Livonia</span>
			    <span class="badge badge-success badge-pill">2</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'southfield' %}">
			    <span class="black">Southfield</span>
			    <span class="badge badge-success badge-pill">3</span>
			  </a>
			</ul>

			<br>

			<a href="{% url 'home' %}"><button type="button" class="btn btn-light btn-lg btn-block"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd2%2FFood_Bank_icon.svg%2F2000px-Food_Bank_icon.svg.png&f=1&nofb=1" width="40" height="40"><span class="black"><small>Home</small></span></button></a>


		<br> 

	

{% endblock %}