{% extends 'base.html' %}

{% block content %}


	<br>


		<div class="container">

			<ul class="list-group">
				<li class="list-group-item disabled" aria-disabled="true">Michigan</li>
				<a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'detroit' %}">
			    Detroit
			    <span class="badge badge-success badge-pill">10</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'farm' %}">
			    Farmington
			    <span class="badge badge-success badge-pill">1</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'farmhills' %}">
			    Farmington Hills
			    <span class="badge badge-success badge-pill">2</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'livonia' %}">
			    Livonia
			    <span class="badge badge-success badge-pill">2</span>
			  </a>
			  <a class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'southfield' %}">
			    Southfield
			    <span class="badge badge-success badge-pill">3</span>
			  </a>
			</ul>


		<br> 

	

{% endblock %}