{% extends 'base.html' %}

{% block content %}

	<div class="container">

		<h1>Oak Park <span class="badge badge-light">IL</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/36877_oak-park-river-forest-food-pantry_dpl.jpg" class="card-img-top" height="200"  >
		  <div class="card-body">
		    	<div class="small">
				    <h5 class="card-title">{{ op1.name }}</h5>
				    <p class="card-text">{{ op1.address }}</p>
				    <p class="card-text">{{ op1.city }} {{ op1.state }} {{ op1.zipcode }}</p>
				    <p class="card-text">{{ op1.phone }}</p>
			    <p class="card-text"><small>{{ op1.details }}</small></p>
			 	</div>
			 	<br>
		    <a href="{{ op1.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

		<a href="{% url 'illinois' %}"><button type="button" class="btn btn-secondary btn-block">Back to IL</button><br>

		<a href="{% url 'home' %}"><button type="button" class="btn btn-secondary btn-lg btn-block"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd2%2FFood_Bank_icon.svg%2F2000px-Food_Bank_icon.svg.png&f=1&nofb=1" width="40" height="40"><span class="black"><small>Home</small></span></button></a>

	</div>
	
	<br><br>


{% endblock %}