{% extends 'base.html' %}

{% block content %}

	<div class="container">

		<h1>Oak Park <span class="badge badge-light">IL</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="{{ op1.photo }}" class="card-img-top" height="200"  >
		  <div class="card-body">
		    
			    <h5 class="card-title">{{ op1.name }}</h5>
			    <p class="card-text">{{ op1.address }}</p>
			    <p class="card-text">{{ op1.city }}</p>
			    <p class="card-text">{{ op1.state }}</p>
			    <p class="card-text">{{ op1.zipcode }}</p>
			    <p class="card-text">{{ op1.phone }}</p>
			    <p class="card-text"><small>{{ op1.details }}</small></p>
			 
		    <a href="{{ op1.weblink }}" class="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

		<a href="{% url 'illinois' %}"><button type="button" class="btn btn-light">Back</button>

	</div>
	
	<br><br>


{% endblock %}