{% extends 'base.html' %}

{% block content %}


	<br>

	<div class="container">

		<h1>Raleigh <span class="badge badge-light">NC</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/509_raleigh-rescue-mission-shelter-and-meals_hnw.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc1.name }}</h5>
			    <p class="card-text">{{ nc1.address }}</p>
			    <p class="card-text">{{ nc1.city }} {{ nc1.state }} {{ nc1.zipcode }}</p>
			    <p class="card-text">{{ nc1.phone }}</p>
			    <p class="card-text">{{ nc1.details }}</p>
		    </div>
		    <br>
		    <a href="{{ nc1.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/704_urban-ministries-of-wake-county_usa.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc2.name }}</h5>
			    <p class="card-text">{{ nc2.address }}</p>
			    <p class="card-text">{{ nc2.city }} {{ nc2.state }} {{ nc2.zipcode }}</p>
			    <p class="card-text">{{ nc2.phone }}</p>
			    <p class="card-text">{{ nc2.details }}</p>
		    </div>
		    <br>
		    <a href="{{ nc2.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/850_food-bank-of-central-eastern-north-carolina_drc.png" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc3.name }}</h5>
			    <p class="card-text">{{ nc3.address }} </p>
			    <p class="card-text">{{ nc3.city }} {{ nc3.state }} {{ nc3.zipcode }}</p>
			    <p class="card-text">{{ nc3.phone }}</p>
			    <p class="card-text">{{ nc3.details }}</p>
		    </div>
		    <br>
		    <a href="{{ nc3.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/32808_north-raleigh-ministries_yiy.xx&oh=08ce6c3e28de5a708d49ba39811645df&oe=5F03F60D" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc4.name }}</h5>
			    <p class="card-text">{{ nc4.address }}</p>
			    <p class="card-text">{{ nc4.city }} {{ nc4.state }} {{ nc4.zipcode }}</p>
			    <p class="card-text">{{ nc4.phone }}</p>
			    <p class="card-text">{{ nc4.details }}</p>
			</div>
			<br>
		    <a href="{{ nc4.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="{{ nc5.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc5.name }}</h5>
			    <p class="card-text">{{ nc5.address }}</p>
			    <p class="card-text">{{ nc5.city }} {{ nc5.state }} {{ nc5.zipcode }}</p>
			    <p class="card-text">{{ nc5.phone }}</p>
			    <p class="card-text"><small>{{ nc5.details }}</small></p>
			</div>
			<br>
		    <a href="{{ nc5.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="{{ chi19.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi19.name }}</h5>
			    <p class="card-text">{{ chi19.address }}</p>
			    <p class="card-text">{{ chi19.city }} {{ chi19.state }} {{ chi19.zipcode }}</p>
			    <p class="card-text">{{ chi19.phone }}</p>
			    <p class="card-text"><small>{{ chi19.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi19.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="{{ chi20.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi20.name }}</h5>
			    <p class="card-text">{{ chi20.address }}</p>
			    <p class="card-text">{{ chi20.city }} {{ chi20.state }} {{ chi20.zipcode }}</p>
			    <p class="card-text">{{ chi20.phone }}</p>
			    <p class="card-text"><small>{{ chi20.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi20.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="{{ chi21.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi21.name }}</h5>
			    <p class="card-text">{{ chi21.address }}</p>
			    <p class="card-text">{{ chi21.city }} {{ chi21.state }} {{ chi21.zipcode }}</p>
			    <p class="card-text">{{ chi21.phone }}</p>
			    <p class="card-text"><small>{{ chi21.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi21.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/33127_il_60626_howard-area-community-center_nly.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi22.name }}</h5>
			    <p class="card-text">{{ chi22.address }}</p>
			    <p class="card-text">{{ chi22.city }} {{ chi22.state }} {{ chi22.zipcode }}</p>
			    <p class="card-text">{{ chi22.phone }}</p>
			    <p class="card-text"><small>{{ chi22.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi22.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/33128_il_60626_chicago-food-pantry_rhx.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ chi23.name }}</h5>
			    <p class="card-text">{{ chi23.address }}</p>
			    <p class="card-text">{{ chi23.city }} {{ chi23.state }} {{ chi23.zipcode }}</p>
			    <p class="card-text">{{ chi23.phone }}</p>
			    <p class="card-text"><small>{{ chi23.details }}</small></p>
			</div>
			<br>
		    <a href="{{ chi23.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>



		<br><br>

		<a href="{% url 'illinois' %}"><button type="button" class="btn btn-light">Back</button>

	</div>

	
	<br><br>




{% endblock %}