{% extends 'base.html' %}

{% block content %}


	<br>

	<div class="container">

		<h1>Raleigh <span class="badge badge-light">NC</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/509_raleigh-rescue-mission-shelter-and-meals_hnw.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc1.name }}</h5>
			    <p class="card-text">{{ nc1.address }}</p>
			    <p class="card-text">{{ nc1.city }} {{ nc1.state }} {{ nc1.zipcode }}</p>
			    <p class="card-text">{{ nc1.phone }}</p>
			    <p class="card-text">{{ nc1.details }}</p>
		    </div>
		    <br>
		    <a href="{{ nc1.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/704_urban-ministries-of-wake-county_usa.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc2.name }}</h5>
			    <p class="card-text">{{ nc2.address }}</p>
			    <p class="card-text">{{ nc2.city }} {{ nc2.state }} {{ nc2.zipcode }}</p>
			    <p class="card-text">{{ nc2.phone }}</p>
			    <p class="card-text">{{ nc2.details }}</p>
		    </div>
		    <br>
		    <a href="{{ nc2.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/850_food-bank-of-central-eastern-north-carolina_drc.png" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc3.name }}</h5>
			    <p class="card-text">{{ nc3.address }} </p>
			    <p class="card-text">{{ nc3.city }} {{ nc3.state }} {{ nc3.zipcode }}</p>
			    <p class="card-text">{{ nc3.phone }}</p>
			    <p class="card-text">{{ nc3.details }}</p>
		    </div>
		    <br>
		    <a href="{{ nc3.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/32808_north-raleigh-ministries_yiy.xx&oh=08ce6c3e28de5a708d49ba39811645df&oe=5F03F60D" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc4.name }}</h5>
			    <p class="card-text">{{ nc4.address }}</p>
			    <p class="card-text">{{ nc4.city }} {{ nc4.state }} {{ nc4.zipcode }}</p>
			    <p class="card-text">{{ nc4.phone }}</p>
			    <p class="card-text">{{ nc4.details }}</p>
			</div>
			<br>
		    <a href="{{ nc4.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>
	
	
	<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/39486_nc_27604_st-james-food-pantry_trz.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc5.name }}</h5>
			    <p class="card-text">{{ nc5.address }}</p>
			    <p class="card-text">{{ nc5.city }} {{ nc5.state }} {{ nc5.zipcode }}</p>
			    <p class="card-text">{{ nc5.phone }}</p>
			    <p class="card-text"><small>{{ nc5.details }}</small></p>
			</div>
			<br>
		    <a href="{{ nc5.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/no_photo_9.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc6.name }}</h5>
			    <p class="card-text">{{ nc6.address }}</p>
			    <p class="card-text">{{ nc6.city }} {{ nc6.state }} {{ nc6.zipcode }}</p>
			    <p class="card-text">{{ nc6.phone }}</p>
			    <p class="card-text"><small>{{ nc6.details }}</small></p>
			</div>
			<br>
		    <a href="{{ nc6.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/30237_zina_christian_center_27604_las.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc7.name }}</h5>
			    <p class="card-text">{{ nc7.address }}</p>
			    <p class="card-text">{{ nc7.city }} {{ nc7.state }} {{ nc7.zipcode }}</p>
			    <p class="card-text">{{ nc7.phone }}</p>
			    <p class="card-text"><small>{{ nc7.details }}</small></p>
			</div>
			<br>
		    <a href="{{ nc7.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/30228_with_love_from_jesus_ministry_27603_jpx.png" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc8.name }}</h5>
			    <p class="card-text">{{ nc8.address }}</p>
			    <p class="card-text">{{ nc8.city }} {{ nc8.state }} {{ nc8.zipcode }}</p>
			    <p class="card-text">{{ nc8.phone }}</p>
			    <p class="card-text"><small>{{ nc8.details }}</small></p>
			</div>
			<br>
		    <a href="{{ nc8.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>


	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/30231_word_of_god_fellowship_outreach_27610_exi.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc9.name }}</h5>
			    <p class="card-text">{{ nc9.address }}</p>
			    <p class="card-text">{{ nc9.city }} {{ nc9.state }} {{ nc9.zipcode }}</p>
			    <p class="card-text">{{ nc9.phone }}</p>
			    <p class="card-text"><small>{{ nc9.details }}</small></p>
			</div>
			<br>
		    <a href="{{ nc9.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

	
		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/30126_north_haven_church_27615_eyz.xx&oh=e23b0e3cd935b67bb3fc4b9b394464e2&oe=5F678215" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ nc10.name }}</h5>
			    <p class="card-text">{{ nc10.address }}</p>
			    <p class="card-text">{{ nc10.city }} {{ nc10.state }} {{ nc10.zipcode }}</p>
			    <p class="card-text">{{ nc10.phone }}</p>
			    <p class="card-text"><small>{{ nc10.details }}</small></p>
			</div>
			<br>
		    <a href="{{ nc10.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>



		<br><br>

		<a href="{% url 'raleigh' %}"><button type="button" class="btn btn-secondary btn-block">Back to Top</button><br>

		<a href="{% url 'northcarolina' %}"><button type="button" class="btn btn-secondary btn-block">Back to NC</button><br>

		<a href="{% url 'home' %}"><button type="button" class="btn btn-secondary btn-lg btn-block"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd2%2FFood_Bank_icon.svg%2F2000px-Food_Bank_icon.svg.png&f=1&nofb=1" width="40" height="40"><span class="black"><small>Home</small></span></button></a>

	</div>

	
	<br><br>




{% endblock %}