	{% extends 'base.html' %}

	{% block content %}


	<br>

	<div class="container">


		<h1>Southfield <span class="badge badge-light">MI</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="{{ south.photo }}" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ south.name }}</h5>
			    <p class="card-text">{{ south.address }}</p>
			    <p class="card-text">{{ south.city }} {{ south.state }} {{ south.zipcode }}</p>
			    <p class="card-text">{{ south.phone }}</p>
			    <p class="card-text">{{ south.details }}</p>
		    </div>
		    <br>
		    <a href="{{ south.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

		<a href="{% url 'mich' %}"><button type="button" class="btn btn-light">Back</button>

	</div>
	
	<br><br>


	{% endblock %}