	{% extends 'base.html' %}

	{% block content %}


	<br>

	<div class="container">


		<h1>Southfield <span class="badge badge-light">MI</span></h1>

		<br>

		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/no_photo_1.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ south.name }}</h5>
			    <p class="card-text">{{ south.address }}</p>
			    <p class="card-text">{{ south.city }} {{ south.state }} {{ south.zipcode }}</p>
			    <p class="card-text">{{ south.phone }}</p>
			    <p class="card-text">{{ south.details }}</p>
		    </div>
		    <br>
		    <a href="{{ south.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

		<div class="card" style="width: 18rem;">
		  <img src="https://www.foodpantries.org/gallery/3940_st-michaels-friary_bko.jpg" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ south2.name }}</h5>
			    <p class="card-text">{{ south2.address }}</p>
			    <p class="card-text">{{ south2.city }} {{ south2.state }} {{ south2.zipcode }}</p>
			    <p class="card-text">{{ south2.phone }}</p>
			    <p class="card-text">{{ south2.details }}</p>
		    </div>
		    <br>
		    <a href="{{ south2.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

		<div class="card" style="width: 18rem;">
		  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.6KCrhhQaOxAQhHQ-0r00nwAAAA%26pid%3DApi&f=1" class="card-img-top" height="200">
		  <div class="card-body">
		  	<div class="small">
			    <h5 class="card-title">{{ south3.name }}</h5>
			    <p class="card-text">{{ south3.address }}</p>
			    <p class="card-text">{{ south3.city }} {{ south3.state }} {{ south3.zipcode }}</p>
			    <p class="card-text">{{ south3.phone }}</p>
			    <p class="card-text">{{ south3.details }}</p>
		    </div>
		    <br>
		    <a href="{{ south3.weblink }}" target="_blank">Click HERE for the Website</a>
		  </div>
		</div>

		<br><br>

		<a href="{% url 'mich' %}"><button type="button" class="btn btn-light">Back</button>

	</div>
	
	<br><br>


	{% endblock %}